name: CI
 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
 
env:
  CSV_URL: "MLproject/train_pca.csv"
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
 
      # Setup Python
      - name: Set up Python 3.10.18
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.18"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
 
      # Install mlflow
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow
      
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          unset MLFLOW_RUN_ID
          export MLFLOW_TRACKING_URI="file://${{ github.workspace }}/mlruns"
          mlflow run MLproject/ --env-manager=local 

      - name: Set up Git LFS
        run: |
           git config --global user.name ${{ secrets.username }}
           git config --global user.email ${{ secrets.email }}
           git lfs install
           git lfs track "mlruns/**"
           git add .gitattributes
           git commit -m "Track large files in mlruns with Git LFS" || true
           git push origin main
 
      # Save models to GitHub Repository
      - name: Save mlruns to repo
        run: |
           git config --global user.name ${{ secrets.username }}
           git config --global user.email ${{ secrets.email }}
           git add -f mlruns/
           git commit -m "Save mlruns from CI run" || true
           git push origin main
